body {
	background-color: lightgrey;
}

p {
	font-size: 20px;
}

h1 {
	margin-top: 15%;
}

.clearButton {
	text-align: center;
}

.well {
	background-color: olive;
	border: 0px solid olive;
	border-radius: 0px;
	margin: 2% 5% 2% 5%;
}

.random {
	text-decoration: none !important;
	color: black;
}

.random:hover {
	color: black;
}

.title {
	text-align: center;
	text-decoration: none;
}

.description {
	text-align: center;
}